on:
  workflow_call:
    inputs:
      version_tag:
        required: true
        type: string
      user:
        required: false
        default: tools-bot
        type: string
      file:
        required: false
        default: Dockerfile
        type: string
    secrets:
      USER_TOKEN:
        required: true

concurrency:
  group: ${{ inputs.version_tag }}
  cancel-in-progress: true

jobs:
  dockerize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: set environment variables
        run: |
          echo "CI_JOB_TIMESTAMP=$(date --utc --rfc-3339=seconds)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ inputs.user }}
          password: ${{ secrets.USER_TOKEN }}

      - name: Lowercase repo for container registry
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Build, tag, and push image to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ inputs.file }}
          push: ${{ ! github.event.pull_request.head.repo.fork }}
          tags: |
            ghcr.io/${{ env.REPO }}:${{ inputs.version_tag }}
          labels: |
            org.opencontainers.image.created=${{ env.CI_JOB_TIMESTAMP }}
            org.opencontainers.image.version=${{ inputs.version_tag }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Add test tag
        if: ${{ github.event_name != 'pull_request' && contains(inputs.version_tag, '.dev') }}
        uses: akhilerm/tag-push-action@v2.2.0
        with:
          src: ghcr.io/${{ env.REPO }}:${{ inputs.version_tag }}
          dst: ghcr.io/${{ env.REPO }}:test

      - name: Add latest tag
        if: ${{ github.event_name != 'pull_request' && ! contains(inputs.version_tag, '.dev') }}
        uses: akhilerm/tag-push-action@v2.2.0
        with:
          src: ghcr.io/${{ env.REPO }}:${{ inputs.version_tag }}
          dst: ghcr.io/${{ env.REPO }}:latest
