on:
  workflow_call:
    inputs:
      python_version:
        required: false
        default: '3.x'
        type: string
    secrets:
      PYPI_TOKEN:
        required: true
jobs:
  distribute-to-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ inputs.python_version }}"

      - name: Install Python Build
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build

      - name: Build distribution
        run: |
          python -m build

      - name: upload to PyPI.org
        uses: pypa/gh-action-pypi-publish@v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
